<a href="https://colab.research.google.com/github/alinasahoo/Python/blob/main/Pandas_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Functions

In [1]:
import pandas as pd

csv_1 = pd.read_csv("/content/celeb_data.csv")

print(csv_1)

    Rank                Name Date_of_birth           height  \
0      1       Anya Chalotra    1995-07-21   5′ 6″ (1.68 m)
1      2       Hayley Atwell    1982-04-05  5′ 6½″ (1.69 m)
2      3    Rebecca Ferguson    1983-10-19   5′ 5″ (1.65 m)
3      4       Vanessa Kirby    1988-04-18   5′ 7″ (1.70 m)
4      5          Tom Cruise    1962-07-03   5′ 7″ (1.70 m)
..   ...                 ...           ...              ...
95    96   Elizabeth Debicki    1990-08-24  6′ 2¾″ (1.90 m)
96    97      John Krasinski    1979-10-20   6′ 3″ (1.91 m)
97    98          Idris Elba    1972-09-06  6′ 2½″ (1.89 m)
98    99  Chloë Grace Moretz    1997-02-10   5′ 4″ (1.63 m)
99   100         Juno Temple    1989-07-21   5′ 2″ (1.57 m)

                                     Role                           Awards  \
0                             ['Actress']                            1 win
1               ['Actress', 'Soundtrack']                   15 nominations
2   ['Actress', 'Soundtrack', 'Producer']                           9 wins
3   ['Actress', 'Soundtrack', 'Producer']    5 wins , 43 nominations total
4       ['Actor', 'Director', 'Producer']  59 wins , 108 nominations total
..                                    ...                              ...
95                ['Actress', 'Producer']    6 wins , 38 nominations total
96      ['Actor', 'Director', 'Producer']   18 wins , 79 nominations total
97        ['Actor', 'Producer', 'Writer']  30 wins , 102 nominations total
98  ['Actress', 'Soundtrack', 'Producer']                          28 wins
99              ['Actress', 'Soundtrack']    6 wins , 19 nominations total

                            Famous_for  \
0                          The Witcher
1   Captain America: The First Avenger
2                 The Greatest Showman
3                            The Crown
4                              Top Gun
..                                 ...
95                    The Great Gatsby
96              Tom Clancy's Jack Ryan
97                 Beasts of No Nation
98                            Kick-Ass
99                           Atonement

                                  Birth_place
0   Wolverhampton, Staffordshire, England, UK
1                         London, England, UK
2                                      Sweden
3                         London, England, UK
4                     Syracuse, New York, USA
..                                        ...
95                              Paris, France
96                 Newton, Massachusetts, USA
97               Hackney, London, England, UK
98                      Atlanta, Georgia, USA
99                        London, England, UK

[100 rows x 8 columns]

In [2]:
csv_1.index

RangeIndex(start=0, stop=100, step=1)

In [3]:
csv_1.columns

Index(['Rank', 'Name', 'Date_of_birth', 'height', 'Role', 'Awards',
       'Famous_for', 'Birth_place'],
      dtype='object')

In [4]:
csv_1.describe() #gets the description only of the numerical data

             Rank
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [5]:
csv_1.head() #gets the first 5 rows

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
0,1,Anya Chalotra,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"

In [6]:
csv_1.head(2) #gets the first two rows

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
0,1,Anya Chalotra,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"

In [7]:
csv_1.tail() #gets the last 5 rows of the dataset

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"

In [8]:
csv_1[:3] #using slicing - gets the first three rows since index starts from zero.

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
0,1,Anya Chalotra,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden

In [9]:
csv_1[2:5] #gets the rows starting at index 2 and ending at 5

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"

In [11]:
csv_1[90:] #gets the values indexed from 90 till the end

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
90,91,Adam Driver,1983-11-19,6′ 2½″ (1.89 m),"['Actor', 'Soundtrack', 'Producer']","62 wins , 134 nominations total",Star Wars: Episode VII - The Force Awakens,"San Diego, California, USA"
91,92,Kate Mara,1983-02-27,5′ 2″ (1.57 m),"['Actress', 'Soundtrack', 'Producer']","2 wins , 8 nominations total",Fantastic Four,"Bedford, New York, USA"
92,93,Timothy Olyphant,1968-05-20,6′ (1.83 m),"['Actor', 'Soundtrack', 'Producer']","4 wins , 38 nominations total",Justified,"Honolulu, Hawaii, USA"
93,94,Patrick J. Adams,1981-08-27,6′ (1.83 m),"['Actor', 'Director', 'Producer']",1 win,Suits,"Toronto, Ontario, Canada"
94,95,Lily-Rose Depp,1999-05-27,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Composer']",1 win,Tusk,"Neuilly-sur-Seine, Hauts-de-Seine, France"
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"

In [12]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [13]:
csv_1.index.array #indexes present in our dataset, showing the length as well the datatype

<PandasArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
 95, 96, 97, 98, 99]
Length: 100, dtype: int64

In [14]:
csv_1.to_numpy() #converts to numpy array

array([[1, 'Anya Chalotra', '1995-07-21', '5′ 6″ (1.68 m)',
        "['Actress']", '1 win', 'The Witcher',
        'Wolverhampton, Staffordshire, England, UK'],
       [2, 'Hayley Atwell', '1982-04-05', '5′ 6½″ (1.69 m)',
        "['Actress', 'Soundtrack']", '15 nominations',
        'Captain America: The First Avenger', 'London, England, UK'],
       [3, 'Rebecca Ferguson', '1983-10-19', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']", '9 wins',
        'The Greatest Showman', 'Sweden'],
       [4, 'Vanessa Kirby', '1988-04-18', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '5 wins , 43 nominations total', 'The Crown',
        'London, England, UK'],
       [5, 'Tom Cruise', '1962-07-03', '5′ 7″ (1.70 m)',
        "['Actor', 'Director', 'Producer']",
        '59 wins , 108 nominations total', 'Top Gun',
        'Syracuse, New York, USA'],
       [6, 'Freya Allan', '2001-09-06', '5′ 5″ (1.65 m)', "['Actress']",
        '1 nomination', 'Kingdom of the Planet of the Apes',
        'Oxford, Oxfordshire, England, UK'],
       [7, 'Pom Klementieff', '1986-05-03', '5′ 7″ (1.70 m)',
        "['Actress', 'Writer']", '1 win',
        'Guardians of the Galaxy Vol. 2', 'Quebec City, Quebec, Canada'],
       [8, 'Ellen Barkin', '1954-04-16', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer']", '4 wins , 10 nominations total',
        'The Fan', 'The Bronx, New York City, New York, USA'],
       [9, 'Florence Pugh', '1996-01-03', '5′ 3¾″ (1.62 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '38 wins , 95 nominations total', 'The Falling',
        'Oxford, Oxfordshire, England, UK'],
       [10, 'Nina Dobrev', '1989-01-09', '5′ 7″ (1.70 m)',
        "['Actress', 'Director', 'Producer']", '14 wins',
        'The Perks of Being a Wallflower', 'Sofia, Bulgaria'],
       [11, 'Cillian Murphy', '1976-05-25', '5′ 7¾″ (1.72 m)',
        "['Actor', 'Producer', 'Writer']",
        '10 wins , 46 nominations total', '28 Days Later',
        'Douglas, Cork, Ireland'],
       [12, 'Henry Cavill', '1983-05-05', '6′ 1″ (1.85 m)',
        "['Actor', 'Producer', 'Additional Crew']", '3 wins',
        'Man of Steel', 'Jersey, Channel Islands'],
       [13, 'Margot Robbie', '1990-07-02', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer', 'Executive']",
        '23 wins , 133 nominations total', 'Suicide Squad',
        'Dalby, Queensland, Australia'],
       [14, 'Jim Caviezel', '1968-09-26', '6′ 2″ (1.88 m)',
        "['Actor', 'Producer']", '5 wins', 'The Passion of the Christ',
        'Mount Vernon, Washington, USA'],
       [15, 'Christopher Nolan', '1970-07-30', '5′ 11¼″ (1.81 m)',
        "['Director', 'Producer', 'Writer']",
        '145 wins , 237 nominations total', 'Tenet',
        'London, England, UK'],
       [16, 'Ariana Greenblatt', '2007-08-27', nan, "['Actress']",
        '1 nomination', 'Barbie', 'New York, USA'],
       [17, 'Becki Newton', '1978-07-04', '5′ 3″ (1.60 m)',
        "['Actress', 'Soundtrack']", '4 nominations', 'Ugly Betty',
        'New Haven, Connecticut, USA'],
       [18, 'Timothée Chalamet', '1995-12-27', '5′ 10″ (1.78 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '39 wins , 93 nominations total', 'Call Me by Your Name',
        'New York City, New York, USA'],
       [19, 'Lana Parrilla', '1977-07-15', '5′ 6″ (1.68 m)',
        "['Actress', 'Director', 'Producer']", '5 wins',
        'Once Upon a Time', 'Brooklyn, New York City, New York, USA'],
       [20, 'Phoebe Waller-Bridge', '1985-07-14', '5′ 9¾″ (1.77 m)',
        "['Actress', 'Producer', 'Writer']",
        '33 wins , 37 nominations total', 'Solo: A Star Wars Story',
        'London, England, UK'],
       [21, 'Will Poulter', '1993-01-28', '6′ 3¼″ (1.91 m)',
        "['Actor', 'Producer', 'Writer']",
        '5 wins , 23 nominations total', "We're the Millers",
        'England, UK'],
       [22, 'Harrison Ford', '1942-07-13', '6′ 1″ (1.85 m)',
        "['Actor', 'Producer', 'Writer']",
        '45 wins , 46 nominations total', 'Raiders of the Lost Ark',
        'Chicago, Illinois, USA'],
       [23, 'Isabela Merced', '2001-07-10', '5′ 1″ (1.55 m)',
        "['Actress', 'Soundtrack', 'Music Department']", '5 wins',
        'Transformers: The Last Knight', 'Cleveland, Ohio, USA'],
       [24, 'Jeremy Allen White', '1991-02-17', '5′ 7″ (1.70 m)',
        "['Actor', 'Producer', 'Writer']",
        '3 wins , 12 nominations total', 'Shameless',
        'Brooklyn, New York, USA'],
       [25, 'Kingsley Ben-Adir', '1986-11-20', '5′ 7½″ (1.71 m)',
        "['Actor']", '10 wins , 14 nominations total', 'The OA', nan],
       [26, 'Mia Kirshner', '1975-01-25', '5′ 3″ (1.60 m)',
        "['Actress']", '3 nominations', 'Not Another Teen Movie',
        'Toronto, Ontario, Canada'],
       [27, 'Greta Gerwig', '1983-08-04', '5′ 9″ (1.75 m)',
        "['Actress', 'Director', 'Writer']",
        '68 wins , 196 nominations total', 'Lady Bird',
        'Sacramento, California, USA'],
       [28, 'Abbie Cornish', '1982-08-07', '5′ 8″ (1.73 m)',
        "['Actress', 'Producer']", '14 wins', 'Bright Star',
        'Lochinvar, New South Wales, Australia'],
       [29, 'Molly Gordon', '1994-12-06', '5′ 4″ (1.63 m)',
        "['Actress', 'Producer', 'Writer']", '1 win', 'Booksmart',
        'Los Angeles, California, USA'],
       [30, 'Lauren Lapkus', '1985-09-06', '5′ 10″ (1.78 m)',
        "['Actress', 'Writer', 'Music Department']",
        '2 wins , 3 nominations total', 'The Wrong Missy',
        'Chicago, Illinois, USA'],
       [31, 'Gabriel Macht', '1972-01-22', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']", '1 win',
        'The Good Shepherd', 'The Bronx, New York City, New York, USA'],
       [32, 'Jennifer Lawrence', '1990-08-15', '5′ 9″ (1.75 m)',
        "['Actress', 'Producer', 'Writer']",
        '120 wins , 192 nominations total', 'The Hunger Games',
        'Louisville, Kentucky, USA'],
       [33, 'Brad Pitt', '1963-12-18', '5′ 11″ (1.80 m)',
        "['Actor', 'Producer', 'Executive']",
        '119 wins , 223 nominations total', 'Mr. &amp; Mrs. Smith',
        'Shawnee, Oklahoma, USA'],
       [34, 'Liz Katz', '1988-07-08', '5′ (1.52 m)',
        "['Actress', 'Director', 'Writer']", nan, 'Guest House',
        'Randolph, New Jersey, USA'],
       [35, 'Emily Blunt', '1983-02-23', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer', 'Additional Crew']",
        '22 wins , 111 nominations total', 'Edge of Tomorrow',
        'Roehampton, London, England, UK'],
       [36, 'Poorna Jagannathan', '1972-12-22', '5′ 6½″ (1.69 m)',
        "['Actress']", '1 win', 'The Night Of', 'Tunis, Tunisia'],
       [37, 'Angus Sampson', '1979-02-12', '6′ 3″ (1.91 m)',
        "['Actor', 'Director', 'Writer']", '7 nominations',
        'The Lincoln Lawyer', 'Australia'],
       [38, 'Ridley Scott', '1937-11-30', '5′ 8½″ (1.74 m)',
        "['Director', 'Producer', 'Production Designer']",
        '51 wins , 101 nominations total', 'The Martian',
        'South Shields, County Durham, England, UK'],
       [39, 'Adam Devine', '1983-11-07', '5′ 8″ (1.73 m)',
        "['Actor', 'Producer', 'Writer']", '3 wins', 'Pitch Perfect',
        'Waterloo, Iowa, USA'],
       [40, 'Christina Chong', '1983-09-18', '5′ 4″ (1.63 m)',
        "['Actress', 'Director', 'Writer']", '63 m',
        'Johnny English Reborn', 'Enfield, North London, England, UK'],
       [41, 'Manuel Garcia-Rulfo', '1981-02-25', '6′ 2½″ (1.89 m)',
        "['Actor', 'Producer']", '2 nominations',
        'The Magnificent Seven', 'Guadalajara, Jalisco, Mexico'],
       [42, 'Jess Bush', '1992-03-26', '5′ 10″ (1.78 m)', "['Actress']",
        '1 nomination', 'Star Trek: Strange New Worlds',
        'Brisbane, Queensland'],
       [43, 'Rachel Brosnahan', '1990-07-12', '5′ 3″ (1.60 m)',
        "['Actress', 'Producer', 'Executive']",
        '14 wins , 30 nominations total', 'House of Cards',
        'Milwaukee, Wisconsin, USA'],
       [44, 'Karen Gillan', '1987-11-28', '5′ 10¾″ (1.80 m)',
        "['Actress', 'Director', 'Writer']", '8 wins', 'Selfie',
        'Inverness, Scotland, UK'],
       [45, 'Pierce Brosnan', '1953-05-16', '6′ 1¼″ (1.86 m)',
        "['Actor', 'Producer', 'Executive']", '21 wins',
        'The World Is Not Enough', 'Drogheda, County Louth, Ireland'],
       [46, 'Neve Campbell', '1973-10-03', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer', 'Writer']", '7 wins', 'Scream',
        'Guelph, Ontario, Canada'],
       [47, 'Golshifteh Farahani', '1983-07-10', '5′ 6½″ (1.69 m)',
        "['Actress', 'Composer', 'Camera and Electrical Department']",
        '5 wins', 'Paterson', 'Tehran, Iran'],
       [48, 'Ryan Gosling', '1980-11-12', '6′ 0½″ (1.84 m)',
        "['Actor', 'Director', 'Producer']",
        '35 wins , 159 nominations total', 'Blue Valentine',
        'London, Ontario, Canada'],
       [49, 'Tom Holland', '1996-06-01', '5′ 6½″ (1.69 m)',
        "['Actor', 'Director', 'Producer']",
        '25 wins , 35 nominations total', 'Spider-Man: Homecoming',
        'Kingston upon Thames, England, UK'],
       [50, 'Wes Anderson', '1969-05-01', '6′ 1″ (1.85 m)',
        "['Director', 'Producer', 'Writer']",
        '79 wins , 201 nominations total', 'Fantastic Mr. Fox',
        'Houston, Texas, USA'],
       [51, 'Karen Allen', '1951-10-05', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Director']", '12 wins',
        'Raiders of the Lost Ark', 'Carrollton, Illinois, USA'],
       [52, 'Ebon Moss-Bachrach', '1977-03-19', '6′ 1″ (1.85 m)',
        "['Actor', 'Soundtrack']", '1 win , 6 nominations total',
        'Girls', 'New York, New York, USA'],
       [53, 'Leonardo DiCaprio', '1974-11-11', '6′ (1.83 m)',
        "['Actor', 'Producer', 'Writer']",
        '102 wins , 262 nominations total', 'Inception',
        'Hollywood, Los Angeles, California, USA'],
       [54, 'Mel Gibson', '1956-01-03', '5′ 9¾″ (1.77 m)',
        "['Actor', 'Director', 'Producer']",
        '44 wins , 43 nominations total', 'Braveheart',
        'Peekskill, New York, USA'],
       [55, 'Hannah Waddingham', '1974-07-28', '5′ 10¾″ (1.80 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '12 wins , 16 nominations total', 'Ted Lasso',
        'London, England, UK'],
       [56, 'Michelle Monaghan', '1976-03-23', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer']", '3 wins', 'Gone Baby Gone',
        'Winthrop, Iowa, USA'],
       [57, 'Sarah Rafferty', '1972-12-06', '5′ 9″ (1.75 m)',
        "['Actress', 'Soundtrack', 'Producer']", '75 m', 'Suits',
        'New Canaan, Connecticut, USA'],
       [58, 'Emilia Clarke', '1986-10-23', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '8 wins , 48 nominations total', 'Game of Thrones',
        'London, England, UK'],
       [59, 'Jenna Ortega', '2002-09-27', '5′ 1″ (1.55 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '5 wins , 18 nominations total', 'Scream',
        'Coachella Valley, California, USA'],
       [60, 'Josh Hartnett', '1978-07-21', '6′ 3″ (1.91 m)',
        "['Actor', 'Producer']", '3 wins', 'Lucky Number Slevin',
        'St. Paul, Minnesota, USA'],
       [61, 'Tom Hanks', '1956-07-09', '6′ (1.83 m)',
        "['Actor', 'Producer', 'Writer']",
        '93 wins , 209 nominations total', 'Cast Away',
        'Concord, California, USA'],
       [62, 'Alexandra Daddario', '1986-03-16', '5′ 8″ (1.73 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '2 wins , 8 nominations total', 'Baywatch',
        'New York City, New York, USA'],
       [63, 'Joey King', '1999-07-30', '5′ 4″ (1.63 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '6 wins , 21 nominations total', 'The Act',
        'Los Angeles, California, USA'],
       [64, 'Ana de Armas', '1988-04-30', '5′ 6¼″ (1.68 m)',
        "['Actress', 'Producer']", '11 wins , 34 nominations total',
        'Blade Runner 2049', 'Havana, Cuba'],
       [65, 'Nicolas Cage', '1964-01-07', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']",
        '61 wins , 106 nominations total', 'Face/Off',
        'Long Beach, California, USA'],
       [66, 'Joaquin Phoenix', '1974-10-28', '5′ 8″ (1.73 m)',
        "['Actor', 'Director', 'Producer']",
        '70 wins , 187 nominations total', 'Walk the Line',
        'San Juan, Puerto Rico'],
       [67, 'MyAnna Buring', '1979-09-22', '5′ 2″ (1.57 m)',
        "['Actress', 'Writer']", '1 win', 'Kill List',
        'Sundsvall, Västernorrlands län, Sweden'],
       [68, 'Meghan Markle', '1981-08-04', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer', 'Writer']", '1 win', 'Remember Me',
        'Los Angeles, California, USA'],
       [69, 'Rick Hoffman', '1970-06-12', '5′ 9½″ (1.77 m)',
        "['Actor', 'Additional Crew']", '77 m', 'Suits',
        'New York City, New York, USA'],
       [70, 'Esai Morales', '1962-10-01', '5′ 10″ (1.78 m)',
        "['Actor', 'Director', 'Producer']", '4 wins', 'La Bamba',
        'Brooklyn, New York, USA'],
       [71, 'Michelle Rodriguez', '1978-07-12', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']", '13 wins', 'Furious 7',
        'San Antonio, Texas, USA'],
       [72, 'Amanda Peterson', '1971-07-08', '5′ 4″ (1.63 m)',
        "['Actress']", '1 win', "Can't Buy Me Love",
        'Greeley, Colorado, USA'],
       [73, 'Sophia Lillis', '2002-02-13', '5′ (1.52 m)', "['Actress']",
        '3 wins', 'It', 'Brooklyn, New York City, New York, USA'],
       [74, 'Rachael Taylor', '1984-07-11', '5′ 7¾″ (1.72 m)',
        "['Actress', 'Producer', 'Writer']", '2 nominations',
        'Transformers', 'Launceston, Tasmania, Australia'],
       [75, 'Lee Pace', '1979-03-25', '6′ 5″ (1.96 m)',
        "['Actor', 'Soundtrack']", '5 wins , 20 nominations total',
        'Guardians of the Galaxy', 'Chickasha, Oklahoma, USA'],
       [76, 'Miss Benny', '1999-02-19', nan, "['Actress', 'Soundtrack']",
        nan, 'Glamorous', nan],
       [77, 'Annie Murphy', '1986-12-19', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Writer']",
        '7 wins , 15 nominations total', "Schitt's Creek",
        'Ottawa, Ontario, Canada'],
       [78, 'Christopher McQuarrie', '1968-10-25', nan,
        "['Director', 'Producer', 'Writer']",
        '10 wins , 17 nominations total', 'The Usual Suspects',
        'Princeton, New Jersey, USA'],
       [79, 'Emmanuelle Béart', '1963-08-14', '5′ 4¼″ (1.63 m)',
        "['Actress', 'Soundtrack']", '12 wins', '8 Women',
        'Gassin, Var, France'],
       [80, 'Ayo Edebiri', '1995-10-03', nan,
        "['Actress', 'Producer', 'Writer']",
        '3 wins , 13 nominations total', 'The Bear',
        'Boston, Massachusetts, USA'],
       [81, 'Isabel May', '2000-11-21', '5′ 9″ (1.75 m)', "['Actress']",
        '1 nomination', '1883', 'Santa Monica, California, USA'],
       [82, 'Sofía Vergara', '1972-07-10', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '11 wins , 46 nominations total', 'Hot Pursuit',
        'Barranquilla, Colombia'],
       [83, 'Hailee Steinfeld', '1996-12-11', '5′ 8½″ (1.74 m)',
        "['Actress', 'Composer', 'Producer']",
        '26 wins , 61 nominations total', 'True Grit',
        'Tarzana, Los Angeles, California, USA'],
       [84, 'Mira Sorvino', '1967-09-28', '5′ 9″ (1.75 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '18 wins , 22 nominations total', 'Mighty Aphrodite',
        'New York City, New York, USA'],
       [85, 'Matt Damon', '1970-10-08', '5′ 10″ (1.78 m)',
        "['Actor', 'Producer', 'Writer']",
        '37 wins , 154 nominations total', 'Good Will Hunting',
        'Boston, Massachusetts, USA'],
       [86, 'Robert Downey Jr.', '1965-04-04', '5′ 8″ (1.73 m)',
        "['Actor', 'Producer', 'Writer']",
        '43 wins , 122 nominations total', 'Iron Man',
        'Manhattan, New York City, New York, USA'],
       [87, 'Sarah Snook', '1987-12-01', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '14 wins , 29 nominations total', 'Predestination',
        'Adelaide, South Australia, Australia'],
       [88, 'Anya Taylor-Joy', '1996-04-16', '5′ 8″ (1.73 m)',
        "['Actress', 'Soundtrack']", '18 wins , 44 nominations total',
        "The Queen's Gambit", 'Miami, Florida, USA'],
       [89, 'Rose Byrne', '1979-07-24', '5′ 6¼″ (1.68 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '15 wins , 35 nominations total', 'Spy',
        'Balmain, Sydney, New South Wales, Australia'],
       [90, 'Alexander Skarsgård', '1976-08-25', '6′ 4½″ (1.94 m)',
        "['Actor', 'Director', 'Producer']",
        '13 wins , 35 nominations total', 'The Legend of Tarzan',
        'Stockholm, Stockholms län, Sweden'],
       [91, 'Adam Driver', '1983-11-19', '6′ 2½″ (1.89 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '62 wins , 134 nominations total',
        'Star Wars: Episode VII - The Force Awakens',
        'San Diego, California, USA'],
       [92, 'Kate Mara', '1983-02-27', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '2 wins , 8 nominations total', 'Fantastic Four',
        'Bedford, New York, USA'],
       [93, 'Timothy Olyphant', '1968-05-20', '6′ (1.83 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '4 wins , 38 nominations total', 'Justified',
        'Honolulu, Hawaii, USA'],
       [94, 'Patrick J. Adams', '1981-08-27', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']", '1 win', 'Suits',
        'Toronto, Ontario, Canada'],
       [95, 'Lily-Rose Depp', '1999-05-27', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Composer']", '1 win', 'Tusk',
        'Neuilly-sur-Seine, Hauts-de-Seine, France'],
       [96, 'Elizabeth Debicki', '1990-08-24', '6′ 2¾″ (1.90 m)',
        "['Actress', 'Producer']", '6 wins , 38 nominations total',
        'The Great Gatsby', 'Paris, France'],
       [97, 'John Krasinski', '1979-10-20', '6′ 3″ (1.91 m)',
        "['Actor', 'Director', 'Producer']",
        '18 wins , 79 nominations total', "Tom Clancy's Jack Ryan",
        'Newton, Massachusetts, USA'],
       [98, 'Idris Elba', '1972-09-06', '6′ 2½″ (1.89 m)',
        "['Actor', 'Producer', 'Writer']",
        '30 wins , 102 nominations total', 'Beasts of No Nation',
        'Hackney, London, England, UK'],
       [99, 'Chloë Grace Moretz', '1997-02-10', '5′ 4″ (1.63 m)',
        "['Actress', 'Soundtrack', 'Producer']", '28 wins', 'Kick-Ass',
        'Atlanta, Georgia, USA'],
       [100, 'Juno Temple', '1989-07-21', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack']", '6 wins , 19 nominations total',
        'Atonement', 'London, England, UK']], dtype=object)

In [17]:
import numpy as np # converting the above pandas array as numpy array

v = np.asarray(csv_1)

v

array([[1, 'Anya Chalotra', '1995-07-21', '5′ 6″ (1.68 m)',
        "['Actress']", '1 win', 'The Witcher',
        'Wolverhampton, Staffordshire, England, UK'],
       [2, 'Hayley Atwell', '1982-04-05', '5′ 6½″ (1.69 m)',
        "['Actress', 'Soundtrack']", '15 nominations',
        'Captain America: The First Avenger', 'London, England, UK'],
       [3, 'Rebecca Ferguson', '1983-10-19', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']", '9 wins',
        'The Greatest Showman', 'Sweden'],
       [4, 'Vanessa Kirby', '1988-04-18', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '5 wins , 43 nominations total', 'The Crown',
        'London, England, UK'],
       [5, 'Tom Cruise', '1962-07-03', '5′ 7″ (1.70 m)',
        "['Actor', 'Director', 'Producer']",
        '59 wins , 108 nominations total', 'Top Gun',
        'Syracuse, New York, USA'],
       [6, 'Freya Allan', '2001-09-06', '5′ 5″ (1.65 m)', "['Actress']",
        '1 nomination', 'Kingdom of the Planet of the Apes',
        'Oxford, Oxfordshire, England, UK'],
       [7, 'Pom Klementieff', '1986-05-03', '5′ 7″ (1.70 m)',
        "['Actress', 'Writer']", '1 win',
        'Guardians of the Galaxy Vol. 2', 'Quebec City, Quebec, Canada'],
       [8, 'Ellen Barkin', '1954-04-16', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer']", '4 wins , 10 nominations total',
        'The Fan', 'The Bronx, New York City, New York, USA'],
       [9, 'Florence Pugh', '1996-01-03', '5′ 3¾″ (1.62 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '38 wins , 95 nominations total', 'The Falling',
        'Oxford, Oxfordshire, England, UK'],
       [10, 'Nina Dobrev', '1989-01-09', '5′ 7″ (1.70 m)',
        "['Actress', 'Director', 'Producer']", '14 wins',
        'The Perks of Being a Wallflower', 'Sofia, Bulgaria'],
       [11, 'Cillian Murphy', '1976-05-25', '5′ 7¾″ (1.72 m)',
        "['Actor', 'Producer', 'Writer']",
        '10 wins , 46 nominations total', '28 Days Later',
        'Douglas, Cork, Ireland'],
       [12, 'Henry Cavill', '1983-05-05', '6′ 1″ (1.85 m)',
        "['Actor', 'Producer', 'Additional Crew']", '3 wins',
        'Man of Steel', 'Jersey, Channel Islands'],
       [13, 'Margot Robbie', '1990-07-02', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer', 'Executive']",
        '23 wins , 133 nominations total', 'Suicide Squad',
        'Dalby, Queensland, Australia'],
       [14, 'Jim Caviezel', '1968-09-26', '6′ 2″ (1.88 m)',
        "['Actor', 'Producer']", '5 wins', 'The Passion of the Christ',
        'Mount Vernon, Washington, USA'],
       [15, 'Christopher Nolan', '1970-07-30', '5′ 11¼″ (1.81 m)',
        "['Director', 'Producer', 'Writer']",
        '145 wins , 237 nominations total', 'Tenet',
        'London, England, UK'],
       [16, 'Ariana Greenblatt', '2007-08-27', nan, "['Actress']",
        '1 nomination', 'Barbie', 'New York, USA'],
       [17, 'Becki Newton', '1978-07-04', '5′ 3″ (1.60 m)',
        "['Actress', 'Soundtrack']", '4 nominations', 'Ugly Betty',
        'New Haven, Connecticut, USA'],
       [18, 'Timothée Chalamet', '1995-12-27', '5′ 10″ (1.78 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '39 wins , 93 nominations total', 'Call Me by Your Name',
        'New York City, New York, USA'],
       [19, 'Lana Parrilla', '1977-07-15', '5′ 6″ (1.68 m)',
        "['Actress', 'Director', 'Producer']", '5 wins',
        'Once Upon a Time', 'Brooklyn, New York City, New York, USA'],
       [20, 'Phoebe Waller-Bridge', '1985-07-14', '5′ 9¾″ (1.77 m)',
        "['Actress', 'Producer', 'Writer']",
        '33 wins , 37 nominations total', 'Solo: A Star Wars Story',
        'London, England, UK'],
       [21, 'Will Poulter', '1993-01-28', '6′ 3¼″ (1.91 m)',
        "['Actor', 'Producer', 'Writer']",
        '5 wins , 23 nominations total', "We're the Millers",
        'England, UK'],
       [22, 'Harrison Ford', '1942-07-13', '6′ 1″ (1.85 m)',
        "['Actor', 'Producer', 'Writer']",
        '45 wins , 46 nominations total', 'Raiders of the Lost Ark',
        'Chicago, Illinois, USA'],
       [23, 'Isabela Merced', '2001-07-10', '5′ 1″ (1.55 m)',
        "['Actress', 'Soundtrack', 'Music Department']", '5 wins',
        'Transformers: The Last Knight', 'Cleveland, Ohio, USA'],
       [24, 'Jeremy Allen White', '1991-02-17', '5′ 7″ (1.70 m)',
        "['Actor', 'Producer', 'Writer']",
        '3 wins , 12 nominations total', 'Shameless',
        'Brooklyn, New York, USA'],
       [25, 'Kingsley Ben-Adir', '1986-11-20', '5′ 7½″ (1.71 m)',
        "['Actor']", '10 wins , 14 nominations total', 'The OA', nan],
       [26, 'Mia Kirshner', '1975-01-25', '5′ 3″ (1.60 m)',
        "['Actress']", '3 nominations', 'Not Another Teen Movie',
        'Toronto, Ontario, Canada'],
       [27, 'Greta Gerwig', '1983-08-04', '5′ 9″ (1.75 m)',
        "['Actress', 'Director', 'Writer']",
        '68 wins , 196 nominations total', 'Lady Bird',
        'Sacramento, California, USA'],
       [28, 'Abbie Cornish', '1982-08-07', '5′ 8″ (1.73 m)',
        "['Actress', 'Producer']", '14 wins', 'Bright Star',
        'Lochinvar, New South Wales, Australia'],
       [29, 'Molly Gordon', '1994-12-06', '5′ 4″ (1.63 m)',
        "['Actress', 'Producer', 'Writer']", '1 win', 'Booksmart',
        'Los Angeles, California, USA'],
       [30, 'Lauren Lapkus', '1985-09-06', '5′ 10″ (1.78 m)',
        "['Actress', 'Writer', 'Music Department']",
        '2 wins , 3 nominations total', 'The Wrong Missy',
        'Chicago, Illinois, USA'],
       [31, 'Gabriel Macht', '1972-01-22', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']", '1 win',
        'The Good Shepherd', 'The Bronx, New York City, New York, USA'],
       [32, 'Jennifer Lawrence', '1990-08-15', '5′ 9″ (1.75 m)',
        "['Actress', 'Producer', 'Writer']",
        '120 wins , 192 nominations total', 'The Hunger Games',
        'Louisville, Kentucky, USA'],
       [33, 'Brad Pitt', '1963-12-18', '5′ 11″ (1.80 m)',
        "['Actor', 'Producer', 'Executive']",
        '119 wins , 223 nominations total', 'Mr. &amp; Mrs. Smith',
        'Shawnee, Oklahoma, USA'],
       [34, 'Liz Katz', '1988-07-08', '5′ (1.52 m)',
        "['Actress', 'Director', 'Writer']", nan, 'Guest House',
        'Randolph, New Jersey, USA'],
       [35, 'Emily Blunt', '1983-02-23', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer', 'Additional Crew']",
        '22 wins , 111 nominations total', 'Edge of Tomorrow',
        'Roehampton, London, England, UK'],
       [36, 'Poorna Jagannathan', '1972-12-22', '5′ 6½″ (1.69 m)',
        "['Actress']", '1 win', 'The Night Of', 'Tunis, Tunisia'],
       [37, 'Angus Sampson', '1979-02-12', '6′ 3″ (1.91 m)',
        "['Actor', 'Director', 'Writer']", '7 nominations',
        'The Lincoln Lawyer', 'Australia'],
       [38, 'Ridley Scott', '1937-11-30', '5′ 8½″ (1.74 m)',
        "['Director', 'Producer', 'Production Designer']",
        '51 wins , 101 nominations total', 'The Martian',
        'South Shields, County Durham, England, UK'],
       [39, 'Adam Devine', '1983-11-07', '5′ 8″ (1.73 m)',
        "['Actor', 'Producer', 'Writer']", '3 wins', 'Pitch Perfect',
        'Waterloo, Iowa, USA'],
       [40, 'Christina Chong', '1983-09-18', '5′ 4″ (1.63 m)',
        "['Actress', 'Director', 'Writer']", '63 m',
        'Johnny English Reborn', 'Enfield, North London, England, UK'],
       [41, 'Manuel Garcia-Rulfo', '1981-02-25', '6′ 2½″ (1.89 m)',
        "['Actor', 'Producer']", '2 nominations',
        'The Magnificent Seven', 'Guadalajara, Jalisco, Mexico'],
       [42, 'Jess Bush', '1992-03-26', '5′ 10″ (1.78 m)', "['Actress']",
        '1 nomination', 'Star Trek: Strange New Worlds',
        'Brisbane, Queensland'],
       [43, 'Rachel Brosnahan', '1990-07-12', '5′ 3″ (1.60 m)',
        "['Actress', 'Producer', 'Executive']",
        '14 wins , 30 nominations total', 'House of Cards',
        'Milwaukee, Wisconsin, USA'],
       [44, 'Karen Gillan', '1987-11-28', '5′ 10¾″ (1.80 m)',
        "['Actress', 'Director', 'Writer']", '8 wins', 'Selfie',
        'Inverness, Scotland, UK'],
       [45, 'Pierce Brosnan', '1953-05-16', '6′ 1¼″ (1.86 m)',
        "['Actor', 'Producer', 'Executive']", '21 wins',
        'The World Is Not Enough', 'Drogheda, County Louth, Ireland'],
       [46, 'Neve Campbell', '1973-10-03', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer', 'Writer']", '7 wins', 'Scream',
        'Guelph, Ontario, Canada'],
       [47, 'Golshifteh Farahani', '1983-07-10', '5′ 6½″ (1.69 m)',
        "['Actress', 'Composer', 'Camera and Electrical Department']",
        '5 wins', 'Paterson', 'Tehran, Iran'],
       [48, 'Ryan Gosling', '1980-11-12', '6′ 0½″ (1.84 m)',
        "['Actor', 'Director', 'Producer']",
        '35 wins , 159 nominations total', 'Blue Valentine',
        'London, Ontario, Canada'],
       [49, 'Tom Holland', '1996-06-01', '5′ 6½″ (1.69 m)',
        "['Actor', 'Director', 'Producer']",
        '25 wins , 35 nominations total', 'Spider-Man: Homecoming',
        'Kingston upon Thames, England, UK'],
       [50, 'Wes Anderson', '1969-05-01', '6′ 1″ (1.85 m)',
        "['Director', 'Producer', 'Writer']",
        '79 wins , 201 nominations total', 'Fantastic Mr. Fox',
        'Houston, Texas, USA'],
       [51, 'Karen Allen', '1951-10-05', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Director']", '12 wins',
        'Raiders of the Lost Ark', 'Carrollton, Illinois, USA'],
       [52, 'Ebon Moss-Bachrach', '1977-03-19', '6′ 1″ (1.85 m)',
        "['Actor', 'Soundtrack']", '1 win , 6 nominations total',
        'Girls', 'New York, New York, USA'],
       [53, 'Leonardo DiCaprio', '1974-11-11', '6′ (1.83 m)',
        "['Actor', 'Producer', 'Writer']",
        '102 wins , 262 nominations total', 'Inception',
        'Hollywood, Los Angeles, California, USA'],
       [54, 'Mel Gibson', '1956-01-03', '5′ 9¾″ (1.77 m)',
        "['Actor', 'Director', 'Producer']",
        '44 wins , 43 nominations total', 'Braveheart',
        'Peekskill, New York, USA'],
       [55, 'Hannah Waddingham', '1974-07-28', '5′ 10¾″ (1.80 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '12 wins , 16 nominations total', 'Ted Lasso',
        'London, England, UK'],
       [56, 'Michelle Monaghan', '1976-03-23', '5′ 7″ (1.70 m)',
        "['Actress', 'Producer']", '3 wins', 'Gone Baby Gone',
        'Winthrop, Iowa, USA'],
       [57, 'Sarah Rafferty', '1972-12-06', '5′ 9″ (1.75 m)',
        "['Actress', 'Soundtrack', 'Producer']", '75 m', 'Suits',
        'New Canaan, Connecticut, USA'],
       [58, 'Emilia Clarke', '1986-10-23', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '8 wins , 48 nominations total', 'Game of Thrones',
        'London, England, UK'],
       [59, 'Jenna Ortega', '2002-09-27', '5′ 1″ (1.55 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '5 wins , 18 nominations total', 'Scream',
        'Coachella Valley, California, USA'],
       [60, 'Josh Hartnett', '1978-07-21', '6′ 3″ (1.91 m)',
        "['Actor', 'Producer']", '3 wins', 'Lucky Number Slevin',
        'St. Paul, Minnesota, USA'],
       [61, 'Tom Hanks', '1956-07-09', '6′ (1.83 m)',
        "['Actor', 'Producer', 'Writer']",
        '93 wins , 209 nominations total', 'Cast Away',
        'Concord, California, USA'],
       [62, 'Alexandra Daddario', '1986-03-16', '5′ 8″ (1.73 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '2 wins , 8 nominations total', 'Baywatch',
        'New York City, New York, USA'],
       [63, 'Joey King', '1999-07-30', '5′ 4″ (1.63 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '6 wins , 21 nominations total', 'The Act',
        'Los Angeles, California, USA'],
       [64, 'Ana de Armas', '1988-04-30', '5′ 6¼″ (1.68 m)',
        "['Actress', 'Producer']", '11 wins , 34 nominations total',
        'Blade Runner 2049', 'Havana, Cuba'],
       [65, 'Nicolas Cage', '1964-01-07', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']",
        '61 wins , 106 nominations total', 'Face/Off',
        'Long Beach, California, USA'],
       [66, 'Joaquin Phoenix', '1974-10-28', '5′ 8″ (1.73 m)',
        "['Actor', 'Director', 'Producer']",
        '70 wins , 187 nominations total', 'Walk the Line',
        'San Juan, Puerto Rico'],
       [67, 'MyAnna Buring', '1979-09-22', '5′ 2″ (1.57 m)',
        "['Actress', 'Writer']", '1 win', 'Kill List',
        'Sundsvall, Västernorrlands län, Sweden'],
       [68, 'Meghan Markle', '1981-08-04', '5′ 6″ (1.68 m)',
        "['Actress', 'Producer', 'Writer']", '1 win', 'Remember Me',
        'Los Angeles, California, USA'],
       [69, 'Rick Hoffman', '1970-06-12', '5′ 9½″ (1.77 m)',
        "['Actor', 'Additional Crew']", '77 m', 'Suits',
        'New York City, New York, USA'],
       [70, 'Esai Morales', '1962-10-01', '5′ 10″ (1.78 m)',
        "['Actor', 'Director', 'Producer']", '4 wins', 'La Bamba',
        'Brooklyn, New York, USA'],
       [71, 'Michelle Rodriguez', '1978-07-12', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']", '13 wins', 'Furious 7',
        'San Antonio, Texas, USA'],
       [72, 'Amanda Peterson', '1971-07-08', '5′ 4″ (1.63 m)',
        "['Actress']", '1 win', "Can't Buy Me Love",
        'Greeley, Colorado, USA'],
       [73, 'Sophia Lillis', '2002-02-13', '5′ (1.52 m)', "['Actress']",
        '3 wins', 'It', 'Brooklyn, New York City, New York, USA'],
       [74, 'Rachael Taylor', '1984-07-11', '5′ 7¾″ (1.72 m)',
        "['Actress', 'Producer', 'Writer']", '2 nominations',
        'Transformers', 'Launceston, Tasmania, Australia'],
       [75, 'Lee Pace', '1979-03-25', '6′ 5″ (1.96 m)',
        "['Actor', 'Soundtrack']", '5 wins , 20 nominations total',
        'Guardians of the Galaxy', 'Chickasha, Oklahoma, USA'],
       [76, 'Miss Benny', '1999-02-19', nan, "['Actress', 'Soundtrack']",
        nan, 'Glamorous', nan],
       [77, 'Annie Murphy', '1986-12-19', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Writer']",
        '7 wins , 15 nominations total', "Schitt's Creek",
        'Ottawa, Ontario, Canada'],
       [78, 'Christopher McQuarrie', '1968-10-25', nan,
        "['Director', 'Producer', 'Writer']",
        '10 wins , 17 nominations total', 'The Usual Suspects',
        'Princeton, New Jersey, USA'],
       [79, 'Emmanuelle Béart', '1963-08-14', '5′ 4¼″ (1.63 m)',
        "['Actress', 'Soundtrack']", '12 wins', '8 Women',
        'Gassin, Var, France'],
       [80, 'Ayo Edebiri', '1995-10-03', nan,
        "['Actress', 'Producer', 'Writer']",
        '3 wins , 13 nominations total', 'The Bear',
        'Boston, Massachusetts, USA'],
       [81, 'Isabel May', '2000-11-21', '5′ 9″ (1.75 m)', "['Actress']",
        '1 nomination', '1883', 'Santa Monica, California, USA'],
       [82, 'Sofía Vergara', '1972-07-10', '5′ 7″ (1.70 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '11 wins , 46 nominations total', 'Hot Pursuit',
        'Barranquilla, Colombia'],
       [83, 'Hailee Steinfeld', '1996-12-11', '5′ 8½″ (1.74 m)',
        "['Actress', 'Composer', 'Producer']",
        '26 wins , 61 nominations total', 'True Grit',
        'Tarzana, Los Angeles, California, USA'],
       [84, 'Mira Sorvino', '1967-09-28', '5′ 9″ (1.75 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '18 wins , 22 nominations total', 'Mighty Aphrodite',
        'New York City, New York, USA'],
       [85, 'Matt Damon', '1970-10-08', '5′ 10″ (1.78 m)',
        "['Actor', 'Producer', 'Writer']",
        '37 wins , 154 nominations total', 'Good Will Hunting',
        'Boston, Massachusetts, USA'],
       [86, 'Robert Downey Jr.', '1965-04-04', '5′ 8″ (1.73 m)',
        "['Actor', 'Producer', 'Writer']",
        '43 wins , 122 nominations total', 'Iron Man',
        'Manhattan, New York City, New York, USA'],
       [87, 'Sarah Snook', '1987-12-01', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '14 wins , 29 nominations total', 'Predestination',
        'Adelaide, South Australia, Australia'],
       [88, 'Anya Taylor-Joy', '1996-04-16', '5′ 8″ (1.73 m)',
        "['Actress', 'Soundtrack']", '18 wins , 44 nominations total',
        "The Queen's Gambit", 'Miami, Florida, USA'],
       [89, 'Rose Byrne', '1979-07-24', '5′ 6¼″ (1.68 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '15 wins , 35 nominations total', 'Spy',
        'Balmain, Sydney, New South Wales, Australia'],
       [90, 'Alexander Skarsgård', '1976-08-25', '6′ 4½″ (1.94 m)',
        "['Actor', 'Director', 'Producer']",
        '13 wins , 35 nominations total', 'The Legend of Tarzan',
        'Stockholm, Stockholms län, Sweden'],
       [91, 'Adam Driver', '1983-11-19', '6′ 2½″ (1.89 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '62 wins , 134 nominations total',
        'Star Wars: Episode VII - The Force Awakens',
        'San Diego, California, USA'],
       [92, 'Kate Mara', '1983-02-27', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack', 'Producer']",
        '2 wins , 8 nominations total', 'Fantastic Four',
        'Bedford, New York, USA'],
       [93, 'Timothy Olyphant', '1968-05-20', '6′ (1.83 m)',
        "['Actor', 'Soundtrack', 'Producer']",
        '4 wins , 38 nominations total', 'Justified',
        'Honolulu, Hawaii, USA'],
       [94, 'Patrick J. Adams', '1981-08-27', '6′ (1.83 m)',
        "['Actor', 'Director', 'Producer']", '1 win', 'Suits',
        'Toronto, Ontario, Canada'],
       [95, 'Lily-Rose Depp', '1999-05-27', '5′ 5″ (1.65 m)',
        "['Actress', 'Soundtrack', 'Composer']", '1 win', 'Tusk',
        'Neuilly-sur-Seine, Hauts-de-Seine, France'],
       [96, 'Elizabeth Debicki', '1990-08-24', '6′ 2¾″ (1.90 m)',
        "['Actress', 'Producer']", '6 wins , 38 nominations total',
        'The Great Gatsby', 'Paris, France'],
       [97, 'John Krasinski', '1979-10-20', '6′ 3″ (1.91 m)',
        "['Actor', 'Director', 'Producer']",
        '18 wins , 79 nominations total', "Tom Clancy's Jack Ryan",
        'Newton, Massachusetts, USA'],
       [98, 'Idris Elba', '1972-09-06', '6′ 2½″ (1.89 m)',
        "['Actor', 'Producer', 'Writer']",
        '30 wins , 102 nominations total', 'Beasts of No Nation',
        'Hackney, London, England, UK'],
       [99, 'Chloë Grace Moretz', '1997-02-10', '5′ 4″ (1.63 m)',
        "['Actress', 'Soundtrack', 'Producer']", '28 wins', 'Kick-Ass',
        'Atlanta, Georgia, USA'],
       [100, 'Juno Temple', '1989-07-21', '5′ 2″ (1.57 m)',
        "['Actress', 'Soundtrack']", '6 wins , 19 nominations total',
        'Atonement', 'London, England, UK']], dtype=object)

In [18]:
csv_1.sort_index(axis=0, ascending = False) #sorts it in the descending order, using the index, axis = 0[row-wise]

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
...,...,...,...,...,...,...,...,...
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
0,1,Anya Chalotra,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"

In [20]:
csv_1["Name"][0]="Alina" #changing a certain value
csv_1

<ipython-input-20-708eb00909f9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["Name"][0]="Alina"

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
0,1,Alina,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"
...,...,...,...,...,...,...,...,...
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"

In [21]:
csv_1.loc[0,"Name"] = "Alina Sahoo"
csv_1

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
0,1,Alina Sahoo,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"
...,...,...,...,...,...,...,...,...
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"

In [22]:
csv_1.loc[[2,3],["Name","Role"]] #getting values from a particular position

               Name                                   Role
2  Rebecca Ferguson  ['Actress', 'Soundtrack', 'Producer']
3     Vanessa Kirby  ['Actress', 'Soundtrack', 'Producer']

In [24]:
csv_1.loc[[2,3],:] #gets all

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"

In [28]:
csv_1.iloc[2,1] #gets the value of 2nd index , row-wise and first index col wise, hence name

'Rebecca Ferguson'

In [29]:
csv_1.drop("height",axis=1) #drops the col named height, since col[axis=1]

,Rank,Name,Date_of_birth,Role,Awards,Famous_for,Birth_place
0,1,Alina Sahoo,1995-07-21,['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK"
1,2,Hayley Atwell,1982-04-05,"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"
...,...,...,...,...,...,...,...
95,96,Elizabeth Debicki,1990-08-24,"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"

In [30]:
csv_1.drop(0,axis=0) #drops the first row at 0th index, row[axis=0]

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK"
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK"
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA"
5,6,Freya Allan,2001-09-06,5′ 5″ (1.65 m),['Actress'],1 nomination,Kingdom of the Planet of the Apes,"Oxford, Oxfordshire, England, UK"
...,...,...,...,...,...,...,...,...
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France"
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA"
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK"
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA"
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK"